.testimonial {
  background-color: var(--primary-color);
}

.testimonial h1 {
  color: var(--color-text);
}

.testimonial .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.testimonial .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  padding: 20px;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.testimonial .swiper-slide:active {
  cursor: grabbing;
}

.testimonial .swiper-slide .desc {
  color: var(--color-text);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 50px;
}

.testimonial .swiper-slide .people {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.testimonial .swiper-slide .people h5,
.testimonial .swiper-slide .people p {
  color: var(--color-text);
}

.testimonial .swiper-slide .people h5 {
  font-weight: 600;
}

.testimonial .swiper-slide .people p {
  opacity: 50%;
}

.testimonial .swiper-slide .people img {
  width: 80px;
  border-radius: 100%;
  /* -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%; */
}

@media screen and (max-width: 768px) {
  .testimonial .swiper {
    padding-inline: 10px;
  }

  .testimonial .swiper-slide .people {
    justify-content: center;
  }
}
